@import "tailwindcss";


@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  25% {
    transform: translateY(-20px) translateX(10px) scale(1.05);
  }
  50% {
    transform: translateY(10px) translateX(-15px) scale(0.95);
  }
  75% {
    transform: translateY(-15px) translateX(5px) scale(1.02);
  }
  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
}